
.locationList{
    height: 85vh;
    overflow: auto;
}

@media(max-width: 64em){
    .locationList{
        max-height: 40vh;
        margin-bottom: 2em;
    }
}

.forecast-title{
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}